body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.button {
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: #ffb504;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px 27px;
}

html {
  font-size: 16px;
}

.section-title {
  color: #1a1820;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  text-align: center;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 1270px) {
  .container {
    max-width: 1200px;
    width: 95%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
.header {
  padding-top: 15px;
  padding-bottom: 40px;
  background: url("../img/hero/hero-bg.jpg") center center no-repeat;
  background-size: cover;
}
.header .navbar {
  margin-bottom: 84px;
}
.header .navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navbar__button {
  margin-left: 31px;
}
.header .navbar__phone {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
}
.header .hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.header .hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .hero-info__title {
  margin-bottom: 31px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.625rem;
  text-transform: uppercase;
  color: #292929;
}
.header .hero-info__subtitle {
  margin-bottom: 59px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #292929;
}
.header .hero-info__price {
  padding: 30px 40px 24px 40px;
  background-color: #70c849;
  text-align: center;
  color: #fff;
  max-width: 230px;
  font-size: 1.125rem;
  font-weight: 400;
}
.header .hero-info__price span {
  font-size: 1.875rem;
}
.header .hero-info__fact {
  margin-top: 14px;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 3.625rem;
  text-transform: uppercase;
}
.header .hero-contacts__small {
  margin-top: 36px;
  margin-left: 30px;
  max-width: 230px;
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
}
.header .hero-form {
  padding: 57px 50px 43px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
}
.header .hero-form__title {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 35px;
}
.header .hero-form__title span {
  font-weight: 700;
}
.header .hero-form__name {
  padding: 0 10px;
  font-size: 0.813rem;
  font-weight: 400;
  margin-bottom: -7px;
  display: block;
  z-index: 3;
  background-color: #fff;
}
.header .hero-form__phone {
  padding: 0 10px;
  font-size: 0.813rem;
  font-weight: 400;
  margin-bottom: -7px;
  display: block;
  z-index: 3;
  background-color: #fff;
}
.header .hero-form__input {
  margin-bottom: 25px;
  border-radius: 0.313rem;
  border: 0.063rem solid #dddddd;
  height: 54px;
  width: 100%;
}
.header .hero-form small {
  margin-top: 15px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #292929;
}
.header .hero__button {
  width: 100%;
}

@media (max-width: 768px) {
  .header .navbar-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .navbar__contacts {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .navbar__button {
    margin-top: 15px;
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .header .hero-block {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .hero-info {
    margin: 0 auto;
  }
  .header .hero-info__price {
    margin: 0 auto;
  }
  .header .hero-contacts {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .header .hero-info__title {
    font-size: 1.85rem;
  }
}
.features {
  padding-top: 99px;
  padding-bottom: 140px;
}
.features__title {
  margin-bottom: 130px;
}
.features-block {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features-item {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
}
.features-item__img {
  margin-bottom: 47px;
  min-height: 69px;
}
.features-item__title {
  color: #1a1820;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 35px;
}
.features-item__text {
  color: #1a1820;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
}
.features-item__text:last-child a {
  color: #509d50;
}

@media (max-width: 992px) {
  .features-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features-item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .features__title {
    margin-bottom: 60px;
  }
  .features-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-item {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}
.price {
  padding-top: 110px;
  padding-bottom: 117px;
  background-color: #006800;
}
.price__title {
  color: #fff;
}
.price__subtitle {
  margin-bottom: 90px;
  margin-top: 45px;
  color: #fff;
}
.price .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.price .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 45px 50px 45px 50px;
  background-color: #fff;
}
.price .cards .card__title {
  margin-bottom: 35px;
  font-size: 1.188rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.price .cards .card__price {
  font-size: 1.188rem;
  font-weight: 700;
  line-height: 1.25rem;
  display: block;
  margin-top: 32px;
  margin-bottom: 24px;
}
.price .cards .card__price span {
  font-size: 1.875rem;
}
.price .cards .card-list {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 22px;
}
.price .cards .card-list__item::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  height: 9px;
  width: 11px;
  background: url(../img/price/checked.png) center center no-repeat;
}
.price .cards .card__button {
  padding: 22px 59px;
  font-size: 1.125rem;
  margin-top: auto;
  margin: auto auto 0 auto;
  width: 209px;
}

@media (max-width: 1200px) {
  .price .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price .cards .card {
    width: 50%;
    margin: 0 auto 30px auto;
  }
}
@media (max-width: 768px) {
  .price .cards .card {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .price .cards .card {
    width: 90%;
  }
  .price .cards .card__button {
    width: auto;
  }
}
.work {
  background: url("../img/work/work-bg.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 117px;
}
.work__title {
  margin-bottom: 45px;
}
.work__subtitle {
  margin-bottom: 65px;
}
.work-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.work-item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-bottom: 63px;
}
.work-item:nth-child(4) {
  margin-bottom: 0;
}
.work-item:nth-child(5) {
  margin-bottom: 0;
}
.work-item__img {
  margin-bottom: 33px;
  min-height: 105px;
}
.work-item__title {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.125rem;
  margin-bottom: 27px;
}
.work-item__descr {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
}

@media (max-width: 992px) {
  .work-item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
@media (max-width: 576px) {
  .work-block {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-item {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-bottom: 40px;
  }
  .work-item:nth-child(4) {
    margin-bottom: 40px;
  }
  .work-item:nth-child(5) {
    margin-bottom: 40px;
  }
}
